.header-background {
  background: rgb(68, 103, 124);
}

.header-gradient {
  height: 150px;
  width: 100%;
  background: rgb(53, 80, 96);
  background: linear-gradient(0deg, rgba(253, 187, 45, 0) 0%, rgba(53, 80, 96, 0) 0%, rgba(53, 80, 96, 1) 84%);
}

.header-gradient--small {
  height: 80px;
}

.image-wrapper {
  overflow: hidden;
  min-height: 600px;
}

/* .image-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #355060;
  mix-blend-mode: multiply;
  opacity: 0.3;
} */

.background-filter {
  filter: brightness(75%) contrast(70%) hue-rotate(0deg) saturate(110%);
}

.image__main {
  display: block;
  position: relative !important;
  height: 600px;
  min-height: 600px;
  width: fit-content;
  inset: 0px;
  object-fit: cover;
}

.logo--shadow {
  -webkit-filter: drop-shadow(0px 0px 10px #fff);
  filter: drop-shadow(0px 0px 10px #fff);
}

.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.burger-content-ref {
  text-decoration: none;
}

.burger-lang-switcher {
  position: absolute;
  height: 24px;
  top: 9px;
  right: 70px;
}

.burger-content {
  background: transparent;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.burger-content nav {
  background: #fff;
  border-bottom: 1px solid #ddd;
  height: 46px;
  position: relative;
}

.burger-input[type="checkbox"]:checked ~ .burger-content-links {
  display: block;
  z-index: 100;
}

.burger-content .burger-content-links {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  width: 250px;
  list-style: none;
}

.burger-content .burger-content-links li {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s;
}

.burger-content .burger-content-links li a {
  background: #e2e8f0;
  color: #355060;
  display: block;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  transition: all 0.3s;
}

.burger-content .burger-content-links li a:hover {
  color: rgb(105, 105, 105);
}

.burger-input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.burger-input[type="checkbox"]:checked+label.burger-label {
  border: 2px solid silver;
  border-radius: 50%;
  height: 28px;
  top: 16px;
  right: 18px;
  width: 28px;
  transform: rotate(-135deg);
}

.burger-input[type="checkbox"]:checked+label.burger-label::before,
.burger-input[type="checkbox"]:checked+label.burger-label::after {
  background: silver;
  top: 11px;
  left: 5px;
  width: 15px;
}

.burger-input[type="checkbox"]:checked+label.burger-label::after {
  opacity: 1;
  visibility: visible;
}

.burger-input[type="checkbox"]:checked+label.burger-label:hover {
  border-color: white;
}

.burger-input[type="checkbox"]:checked+label.burger-label:hover::before,
.burger-input[type="checkbox"]:checked+label.burger-label:hover::after {
  background: white;
}

.burger-input[type="checkbox"]:checked~.burger-content-links::before,
.burger-input[type="checkbox"]:checked~.burger-content-links li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.burger-label {
  background: none transparent;
  border: 2px solid white;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  transition: all 0.2s;
}

.burger-label::before,
.burger-label::after {
  background: white;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 6px;
  transition: all 0.2s;
  width: 24px;
}

.burger-label::after {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
}

@keyframes spin {

  0%,
  50%,
  100% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(45deg);
  }

  75% {
    transform: rotateY(-45deg);
  }
}