.accordion {
  margin: 20px 0;
}

.accordion input {
  display: none;
}

.accordion label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: white;
  margin: 0 1rem;
  transition: background-color 0.5s ease;
}

.accordion label:hover {
  background-color: #21323b;
}

.accordion label {
  background-color: #355060;
}

.accordion label::after,
.accordion label::before {
  content: '▼';
  transition: transform 0.5s ease;
  margin: 10px;
}

.accordion input:checked+label::after,
.accordion input:checked+label::before {
  transform: rotate(180deg);
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  border-top: none;
}

.accordion input:checked~.content {
  max-height: 500px;
  overflow: auto;
}

.content {
  background-color: rgba(1, 41, 83, 0.116);;
  margin: 0 15px;
  border-radius: 0 0 10px 10px;
}

.content ul {
  padding: 20px;
}

.content ul li {
  padding: 10px 0;
  border-bottom: 1px solid #1f3542;
}

.content ul li:last-child {
  border-bottom: none;
}