.custom-grayscale {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 1s ease-in-out;
}

.custom-grayscale:hover,
.custom-grayscale:active,
.custom-grayscale:focus {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}