@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: KdamThmorPro;
	src: url(../../../public/fonts/KdamThmorPro-Regular.ttf);
	weight: 400
}

@font-face {
	font-family: PlayBold;
	src: url(../../../public/fonts/Play-Bold.ttf);
	weight: 700
}

@font-face {
	font-family: PlayRegular;
	src: url(../../../public/fonts/Play-Regular.ttf);
	weight: 400
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	font-family: sans-serif;
	--backgroundColor: #AABCC5;
	--primaryColor: #191a1b;
	--textColorSecondary: rgba(0, 0, 0, 0.45);
}

html {
	box-sizing: border-box;
	font-size: 14px;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-x: hidden;
}

body {
	margin: 0;
	background-color: var(--backgroundColor);
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	overflow-x: hidden !important;  
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	font-size: 1.25rem;
	white-space: nowrap;
	color: var(--primaryColor);
	justify-content: center;
}

.logo>svg {
	fill: var(--primaryColor);
}

.text-disabled {
	color: var(--textColorSecondary) !important;
}

.aos-init:not(.aos-animate):after {
	position: fixed;
}