@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: KdamThmorPro;
	src: url(/fonts/KdamThmorPro-Regular.ttf);
	weight: 400
}

@font-face {
	font-family: PlayBold;
	src: url(/fonts/Play-Bold.ttf);
	weight: 700
}

@font-face {
	font-family: PlayRegular;
	src: url(/fonts/Play-Regular.ttf);
	weight: 400
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	font-family: sans-serif;
	--backgroundColor: #AABCC5;
	--primaryColor: #191a1b;
	--textColorSecondary: rgba(0, 0, 0, 0.45);
}

html,
body {
	overflow-x: hidden !important;
	width: 100%;
}

html {
	box-sizing: border-box;
	font-size: 14px;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
	margin: 0;
	background-color: var(--backgroundColor);
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	font-size: 1.25rem;
	white-space: nowrap;
	color: var(--primaryColor);
	justify-content: center;
}

.logo>svg {
	fill: var(--primaryColor);
}

.text-disabled {
	color: var(--textColorSecondary) !important;
}

.aos-init:not(.aos-animate):after {
	position: fixed;
}

.custom-grayscale {
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	filter: grayscale(1);
	transition: all 1s ease-in-out;
}

.custom-grayscale:hover,
.custom-grayscale:active,
.custom-grayscale:focus {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	animation: changeBackground 30s linear infinite;
	opacity: 0;
}

.background-image:nth-child(1) {
	animation-delay: 0;
	opacity: 1;
	animation: none;
}

.background-image:nth-child(2) {
	animation-delay: 15s;
}

@keyframes changeBackground {
	0% {
		opacity: 0;
	}

	12.5% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	62.5% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.background-image-3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	animation: changeBackground-3 30s linear infinite;
	opacity: 0;
}

.background-image-3:nth-child(1) {
	animation-delay: 0s;
	opacity: 1;
	animation: none;
}

.background-image-3:nth-child(2) {
	animation-delay: 10s;
}

.background-image-3:nth-child(3) {
	animation-delay: 20s;
}

@keyframes changeBackground-3 {

	0%,
	5% {
		opacity: 0;
	}

	10%,
	40% {
		opacity: 1;
	}

	45%,
	50% {
		opacity: 0;
	}
}
