.marine-image-1 {
    background-image: -webkit-image-set(url('/images/marine-links/1.webp') type('image/webp'),
            url('/images/marine-links/1.jpg') type('image/jpeg'));
    background-image: image-set(url('/images/marine-links/1.webp') type('image/webp'),
            url('/images/marine-links/1.jpg') type('image/jpeg'));
}

.marine-image-2 {
    background-image: -webkit-image-set(url('/images/marine-links/2.webp') type('image/webp'),
            url('/images/marine-links/1.jpg') type('image/jpeg'));
    background-image: image-set(url('/images/marine-links/2.webp') type('image/webp'),
            url('/images/marine-links/1.jpg') type('image/jpeg'));
}

.marine-image-3 {
    background-image: -webkit-image-set(url('/images/marine-links/3.webp') type('image/webp'),
            url('/images/marine-links/3.jpg') type('image/jpeg'));
    background-image: image-set(url('/images/marine-links/3.webp') type('image/webp'),
            url('/images/marine-links/3.jpg') type('image/jpeg'));
}

.map-overlay {
    position: absolute;
    inset: 0;
    background: url('/images/marine-links/map.webp');
    background-size: 100% 59%;
    background-position: center -5%;
    background-repeat: no-repeat;
    pointer-events: none;
}
